In [36]:
import pandas as pd

In [4]:
esportes_df = pd.read_excel('./data/EntriesGender.xlsx')
atletas_df = pd.read_excel('./data/Athletes.xlsx')
equipes_df = pd.read_excel('./data/Teams.xlsx')
treinadores_df = pd.read_excel('./data/Coaches.xlsx')
medalhas_df = pd.read_excel('./data/Medals.xlsx')

## 1. Quais os esportes em que mais competiram mulheres do que homens?

In [31]:
# Visão base sobre o DataFrame de esportes

esportes_df.head(8)

            Discipline  Female  Male  Total
0       3x3 Basketball      32    32     64
1              Archery      64    64    128
2  Artistic Gymnastics      98    98    196
3    Artistic Swimming     105     0    105
4            Athletics     969  1072   2041
5            Badminton      86    87    173
6    Baseball/Softball      90   144    234
7           Basketball     144   144    288

In [23]:
mais_competidos_por_mulheres = esportes_df.loc[esportes_df['Female'] > esportes_df['Male']][['Discipline', 'Female', 'Male']]
mais_competidos_por_mulheres.sort_values(by='Female', ascending=True)

               Discipline  Female  Male
12  Cycling BMX Freestyle      10     9
17                 Diving      72    71
28    Rhythmic Gymnastics      96     0
3       Artistic Swimming     105     0

<font size=4> Temos que <b>BMX Estilo Livre, Saltos Ornamentais (Diving), Nado Artístico e Ginástica Rítmica</b> tiveram mais mulheres competindo do que homens. Os dois primeiros têm apenas 1 competidor de diferença entre os gêneros. Nos dois últimos nenhum homem competiu.</font>

## 2. Quais os esportes em que mais competiram homens do que mulheres?

In [34]:
mais_competidos_por_homens = esportes_df.loc[esportes_df['Male'] > esportes_df['Female']][['Discipline', 'Male', 'Female']]
mais_competidos_por_homens.sort_values(by='Male', ascending=False, inplace=True)
mais_competidos_por_homens

           Discipline  Male  Female
4           Athletics  1072     969
36           Swimming   418     361
20           Football   344     264
29             Rowing   265     257
24               Judo   201     192
45          Wrestling   193      96
9              Boxing   187     102
30       Rugby Sevens   151     146
43         Water Polo   146     122
6   Baseball/Softball   144      90
15       Cycling Road   131      70
11       Canoe Sprint   126     123
18         Equestrian   125      73
19            Fencing   108     107
16      Cycling Track    99      90
44      Weightlifting    99      98
39             Tennis    97      94
5           Badminton    87      86
25             Karate    42      40

<font size=4> Temos que <b>Atletismo, Natação, Futebol, Remo, Judô</b> e outros 15 esportes tiveram mais homens competindo do que mulheres. Mas dentre esses, quais possuem maior discrepância entre os gêneros?</font>

In [42]:
mais_competidos_por_homens['Difference'] = abs(mais_competidos_por_homens['Male'] - mais_competidos_por_homens['Female'])
mais_competidos_por_homens.sort_values(by='Difference', ascending=False)[:5]

      Discipline  Male  Female  Difference
4      Athletics  1072     969         103
45     Wrestling   193      96          97
9         Boxing   187     102          85
20      Football   344     264          80
15  Cycling Road   131      70          61

<font size=4> Vemos então que em <b>Atletismo, Luta Profissional, Boxe, Futebol e Ciclismo de Estrada</b> competiram bem mais homens do que mulheres.</font>

## 3. Quais os esportes em que mais competiram atletas (independente do gênero)?

In [57]:
mais_competidos_por_todos = esportes_df[['Discipline', 'Total']].sort_values(by='Total', ascending=False)
mais_competidos_por_todos[:10]

      Discipline  Total
4      Athletics   2041
36      Swimming    779
20      Football    608
29        Rowing    522
24          Judo    393
23        Hockey    384
32      Shooting    356
31       Sailing    350
22      Handball    336
30  Rugby Sevens    297

<font size=4>Concluímos que <b>Atletismo, Natação, Futebol, Remo, Judô, Hóquei, Tiro, Vela, Handebol e Rugby de Sete</b> foram respectivamente os 10 primeiros esportes em que mais atletas competiram. <br><br>Mas em quais competiram MENOS atletas?</font>

In [59]:
menos_competidos_por_todos = mais_competidos_por_todos.sort_values(by='Total', ascending=True)
menos_competidos_por_todos[0:10]

               Discipline  Total
12  Cycling BMX Freestyle     19
40  Trampoline Gymnastics     32
34         Sport Climbing     40
35                Surfing     40
13     Cycling BMX Racing     48
26      Marathon Swimming     50
0          3x3 Basketball     64
27      Modern Pentathlon     72
14  Cycling Mountain Bike     76
33          Skateboarding     80

<font size=4><b>BMX Estilo Livre, Ginástica de Trampolim, Escalada esportiva combinado, Surfe, Ciclismo corrida BMX, Maratona Aquática, Basquete 3x3, Pentatlo moderno individual, Ciclismo cross-country e Skate</b> foram respectivamente os 10 esportes em que menos atletas competiram.</font>